<html>
<head>
    <title>Polyglot counter!</title>
    <script>
        window._ssrState = {{{ _ssrState }}}
    </script>
    <link rel="stylesheet" href="/static/styles.css"></link>
</head>

<body>

{{{ my_counter }}}

<script src="/static/client.js"></script>

</body>
</html>