<html>
<head>
    <title>Polyglot counter!</title>
    <script>
        window._ssrState = {{{ initial }}}
    </script>
    <link rel="stylesheet" href="http://localhost:8080/static/styles.css"></link>
</head>

<body>

<div id="cmpnt-my_counter" cmpnt-kind="Counter">
    {{{ component }}}
</div>

<script crossorigin src="http://localhost:8080/static/client.js"></script>

</body>
</html>