<html>
<head>
    <title>Polyglot counter!</title>
    <script>
        window.countstate = {{{ initial }}}
    </script>
</head>

<body>

<div id="app-root">{{{ component }}}</div>

<script crossorigin src="http://localhost:8080/js/static/client.js"></script>

</body>
</html>